{% if site.avatar -%}
  <div class="sidebar-section">
    {%- if site.avatar contains "://" -%}
      {%- assign avatar = site.avatar -%}
    {%- else -%}
      {%- assign avatar = site.avatar | relative_url -%}
    {%- endif -%}
    <img src="{{ avatar }}" class="author-avatar u-photo align-center" alt="{{ site.author }}">
  </div>
{%- endif %}

<div class="sidebar-section">
  <ul class="contact-list">
    {% if site.author -%}
      <li>
        <i class="sidebar-icon fas fa-at"></i>
        <span class="contact-info p-name">{{ site.author | escape }}</span>
      </li>
    {%- endif %}
    {% if site.email -%}
      <li>
        <i class="sidebar-icon fas fa-envelope"></i>
        <a class="contact-info u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      </li>
    {%- endif %}
  </ul>
</div>

<div class="sidebar-section feed-subscribe">
  <div>
    <span>{{ site.moto }}</span>
  </div>
  <!-- <a href="{{ 'feed.xml' | relative_url }}">
    <i class="sidebar-icon fas fa-rss"></i><span>Subscribe</span>
  </a> -->
</div>

{% if site.data.social -%}
  <div class="sidebar-section">
    <ul class="social-icons">
      {% for social in site.data.social -%}
        <li>
          <a class="social-icon" href="{{ social.url }}"><i class="{{ social.icon | default: 'fas fa-link' }} fa-2x" title="{{ social.title }}"></i></a>
        </li>
      {%- endfor %}
    </ul>
    <a href="https://wikidocs.net/book/3294" style="color:darkorange">위키독 자연어처리 link</a><br>
    <a href="https://wikidocs.net/edit/book/8887" style="color:darkorange">위키독 영어 공부</a><br>
  </div>
{%- endif %}

<div>
  <a href="https://jiho-ml.com/" style="color:darkgreen">jiho-ml</a><br>
  <a href="https://index.quantumstat.com/" style="color:darkgreen">NLP Index</a><br>
  <a href="https://ruder.io/" style="color:darkgreen">ruder, NLP Blog</a><br>
  <a href="https://news.hada.io/" style="color:darkgreen">GeekNews</a><br>
</div>

<div style="color:white">
  ---
  <br>
  layout: post
  <br>
  date: 2020-09-17 14:08
  <br>
  created_date: 2020-09-17 14:08
  <br>
  title: "[] "
  <br>
  description: 
  <br>
  comments: true
  <br>
  mathjax: true
  <br>
  category: 
  <br>
  - Paper
  <br>
  tags:
  <br>
  - 
  <br>
  ---
  <br>
  <!--more-->
  <br>
  <mark style="background-color:pink">
  <br>
  <style>
    <br>
  r { color: Red }
    <br>
  o { color: Orange }
    <br>
  g { color: Green }
    <br>
  </style>
  <br>
  </div>
